.container {
  max-width: calc(
    100% - 240px
  ); /* Adjust this value based on your sidebar width */
  margin: 0 auto;
  padding: 1rem;
  transition: margin-left 0.3s ease-in-out;
}

.sidebarOpen {
  margin-left: 240px; /* Adjust this value to match your sidebar width */
}
@media screen and (max-width: 768px) {
  .container {
    max-width: calc(100% - 70px);
    margin-left: 70px;
  }

  .sidebarOpen {
    margin-left: 90px;
  }
}
